@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Lilita+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

li {
  font-size: 1.25em;
}

body {
  font-family: "Bebas neue";
  margin: 0;
}
body section .portada {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body section .portada #videoFondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body section .portada .oscurecer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
body section .portada .textoDelante {
  position: relative;
  color: #f0faf1;
  text-align: center;
}
body section .portada .textoDelante h1 {
  font-family: "bebas neue";
  font-size: 40px;
  padding: 30px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body section .portada .textoDelante p {
  font-family: "bebas neue";
  font-size: 12px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 720px) {
  body section .portada .textoDelante h1 {
    font-family: "bebas neue";
    font-size: 100px;
    padding: 15px;
  }
}
body button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: black;
}
body button:hover {
  background-color: rgb(67, 67, 68);
}
body .contenedor {
  max-width: 1440px;
  margin: auto;
}

body #footer {
  width: 100%;
  background-color: black;
}
body #footer .contenedor .grupo1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 5px 0px;
}
body #footer .contenedor .grupo1 .box figure {
  display: flex;
  justify-content: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #footer .contenedor .grupo1 .box figure a img {
  width: 150px;
  justify-content: center;
}
body #footer .contenedor .grupo1 .box h3 {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
  font-size: 15px;
}
body #footer .contenedor .grupo1 .box p {
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: azure;
  margin-bottom: 10px;
}
body #footer .contenedor .grupo1 .box .redsocial {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  flex-wrap: wrap;
}
body #footer .contenedor .grupo1 .box .redsocial a {
  display: inline-flex;
  justify-content: center;
  text-decoration: solid;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: rgb(3, 3, 3);
  margin-right: 10px;
  background-color: rgb(141, 140, 140);
  text-align: center;
  transition: all 250ms ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body #footer .contenedor .grupo1 .box .redsocial a:hover {
  color: rgb(248, 191, 2);
  width: 60px;
  height: 60px;
  line-height: 60px;
}
body #footer .contenedor .grupo2 {
  background-color: rgb(78, 77, 77);
  padding: 10px 15px;
  text-align: center;
  color: azure;
}
body #footer .contenedor .grupo2 small {
  font-size: 15px;
}
body #footer .contenedor .grupo3 .botones a {
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
}
body #footer .contenedor .grupo3 .botones a:hover {
  color: goldenrod;
}

@media (min-width: 720px) {
  body #footer .contenedor .grupo1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0px;
  }
  body #footer .contenedor .grupo3 .botones {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
}
body #historia .contenedor {
  text-align: center;
  padding: 40px 12px;
  background-color: rgb(168, 168, 170);
}
body #nuestrosPlanteles {
  background-color: rgb(34, 33, 33);
  color: rgb(172, 167, 167);
  text-align: center;
}
body #nuestrosPlanteles .contenedor {
  padding: 50px 0px;
}
body #nuestrosPlanteles .contenedor h2 {
  font-family: "bebas neue";
  margin-top: 0;
  font-size: 3.5em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro {
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro p {
  display: block;
  font-size: 15px;
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro h3 {
  color: rgb(230, 209, 23);
  font-family: "bebas neue";
  font-size: 40px;
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/primera2.jpg");
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/reserva.jpg");
}
body #nuestrosPlanteles .contenedor .cuadro .recuadro:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/femenino.jpg");
}
body #localDeVentas {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 60vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Camisetas20251.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
body #localDeVentas .contenedor {
  text-align: center;
  padding: 100px 12px;
}
body #localDeVentas .contenedor .texto h2 {
  color: rgb(225, 225, 225);
  margin-top: 10px;
  font-size: 2.5em;
}
body #localDeVentas .contenedor .texto ul li {
  color: rgb(225, 225, 225);
  margin: 12px 0;
  font-weight: bold;
}
body #localDeVentas .contenedor .texto ul form button {
  font-size: 1em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: black;
}
body #localDeVentas .contenedor .texto ul form button:hover {
  background-color: rgb(67, 67, 68);
}
body #ticket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(58, 57, 57);
  color: whitesmoke;
  height: 40vh;
}
body #ticket .contenedor h2 {
  font-family: "bebas neue";
  font-size: 30px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body #ticket .contenedor button {
  font-size: 10px;
}

@media (min-width: 720px) {
  body #historia .contenedor {
    display: flex;
    justify-content: space-evenly;
  }
  body #historia .contenedor .texto {
    width: 50%;
    max-width: 600px;
    text-align: center;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body #historia .contenedor .texto h2 {
    margin-top: 0;
  }
  body #historia .contenedor .texto h2 .dorado {
    color: goldenrod;
    font-family: "bebas neue";
    font-size: 70px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body #historia .contenedor .imgHistoria {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Camisetas20252.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 400px;
  }
  #nuestrosPlanteles .contenedor .cuadro {
    display: flex;
    justify-content: center;
  }
  #nuestrosPlanteles .contenedor .cuadro .recuadro {
    padding: 15px;
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position-y: 0;
    background-color: rgba(60, 60, 60, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  #nuestrosPlanteles .contenedor .cuadro .recuadro p {
    display: none;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  #nuestrosPlanteles .contenedor .cuadro .recuadro h3 {
    margin-top: 45px;
  }
}
body #resultadosA .fotoResultado {
  background-color: rgb(95, 94, 94);
}
body #resultadosA .fotoResultado .res1 {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  margin: auto;
  font-family: "Bebas Neue", sans-serif;
}
body #resultadosA .fotoResultado .res2 {
  color: aliceblue;
  font-size: 10px;
  text-align: center;
  margin: auto;
  font-family: "Bebas Neue", sans-serif;
}
body #resultadosA .fotoResultado .lineaRes {
  border: 1px solid;
  color: whitesmoke;
  width: 320px;
  margin: auto;
  box-shadow: 1px 1px 5px;
  opacity: 0.5;
}
body #resultadosA .fotoResultado .fechaRes {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  width: auto;
  align-items: center;
}
body #resultadosA .fotoResultado .fechaRes .equipoRes {
  color: whitesmoke;
  padding: 1px;
  font-size: 13px;
  vertical-align: middle;
}
body #resultadosA .fotoResultado .fechaRes .resLogo {
  width: 30px;
  transition: transform 0.5s ease-in-out;
}
body #resultadosA .fotoResultado .fechaRes .resLogo:hover {
  transform: scale(1.8) translateZ(-10px);
}
body #resultadosA .fotoResultado .fechaRes .vs {
  font-size: 15px;
  padding: 3px;
  color: rgb(255, 255, 255);
}
body #resultadosA .fotoResultado .fechaRes .golRes {
  font-size: 20px;
  padding: 5px;
  color: goldenrod;
}
body #resultadosA .fotoResultado .golConvertido {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 8px;
  color: whitesmoke;
  text-align: right;
  margin: 1px;
  transition: transform 0.8s ease-in-out;
}
body #resultadosA .fotoResultado .golConvertido:hover {
  transform: scale(1.5) translateX(-100px);
}
body #resultadosA .fotoResultado .lineaResB {
  border: 1px solid;
  color: whitesmoke;
  margin: auto;
  margin-top: 25px;
  box-shadow: 1px 1px 5px;
  opacity: 0.5;
  padding: 10px;
}
body #TablasA .fotoTablaPos {
  padding: 20px;
  background-image: url(../img/fo-ta2.jpg);
  background-size: cover;
}
body #TablasA .fotoTablaPos .Tor1 {
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  margin: auto;
  font-family: "Bebas Neue", sans-serif;
}
body #TablasA .fotoTablaPos .Tor2 {
  color: aliceblue;
  font-size: 20px;
  text-align: center;
  margin: auto;
  font-family: "Bebas Neue", sans-serif;
}
body #TablasA .fotoTablaPos .lineaTabla {
  border: 1px solid;
  color: whitesmoke;
  width: 400px;
  margin: auto;
  box-shadow: 1px 1px 5px;
  opacity: 0.5;
}
body #TablasA .fotoTablaPos .tabla {
  margin: auto;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  border-collapse: collapse;
}
body #TablasA .fotoTablaPos .tabla .fila1Tabla {
  width: 100%;
  font-family: "bebas neue";
  color: whitesmoke;
  font-size: 20px;
  border: 1px solid white;
  border-collapse: collapse;
}
body #TablasA .fotoTablaPos .tabla .fila1Tabla .th0 { /*PRIMERA LINEA*/
  padding: 15px;
}
body #TablasA .fotoTablaPos .tabla .fila1Tabla .thPrincipal {
  text-align: center;
}
body #TablasA .fotoTablaPos .tabla .fila2Tabla {
  width: 100%;
  font-family: "bebas neue";
  color: aliceblue;
  border: 1px solid white;
  border-collapse: collapse;
}
body #TablasA .fotoTablaPos .tabla .fila2Tabla .th1 { /*CENTRA LOS RESUMENES DE PARTIDOS*/
  text-align: center;
  font-size: 15px;
}
body #TablasA .fotoTablaPos .tabla .fila2Tabla .th2 { /*PUNTOS OBTENIDOS*/
  text-align: center;
  font-size: 20px;
}
body #TablasA .fotoTablaPos .tabla .fila2Tabla .th3 {
  font-size: 15px;
}
body #TablasA .fotoTablaPos .tabla .fila2Tabla .thIconCon {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 720px) {
  body #TablasA .fotoTablaPos {
    padding: 20px;
    background-image: url(../img/fo-ta2.jpg);
    background-size: cover;
    background-position: center center;
  }
  body #TablasA .fotoTablaPos .tabla {
    max-width: 600px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid white;
    border-collapse: collapse;
  }
  body #resultadosA .fotoResultado .fechaRes {
    max-width: 800px;
    margin-top: 5px;
    margin: auto;
  }
  body #resultadosA .fotoResultado .fechaRes .equipoRes {
    color: whitesmoke;
    padding: 2px;
    font-size: 10px;
    vertical-align: middle;
  }
  body #resultadosA .fotoResultado .fechaRes .vs {
    font-size: 25px;
    padding: 5px;
    color: rgb(255, 255, 255);
  }
  body #resultadosA .fotoResultado .fechaRes .golRes {
    font-size: 40px;
    padding: 5px;
    color: goldenrod;
  }
  body #resultadosA .fotoResultado .fechaRes .resLogo {
    width: 50px;
    transition: transform 0.5s ease-in-out;
  }
  body #resultadosA .fotoResultado .fechaRes .resLogo:hover {
    transform: scale(1.8) translateZ(10px);
  }
  body #resultadosA .fotoResultado .res2 {
    color: aliceblue;
    font-size: 15px;
    text-align: center;
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
  }
  body #resultadosA .golConvertido {
    max-width: 700px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: whitesmoke;
    text-align: right;
    margin: auto;
    transition: transform 0.5s ease-in-out;
  }
  body #resultadosA .golConvertido:hover {
    transform: scale(1.5) translateX(-100px);
  }
}

.thIcon {
  width: 30px;
  height: 30px;
  transition: transform 0, 5s ease-in-out;
}

.thIcon:hover {
  transform: scale(1.8) translateZ(-10px);
}

body .linea {
  background: black;
  height: 3px;
  opacity: 0.5;
  width: 80%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 5px;
}
body .galeriaH1 {
  font-family: "bebas neue";
  font-size: 40px;
  margin-top: 15px;
  font-weight: 400;
  text-align: center;
}
body .galeriaH2 {
  font-family: "bebas neue";
  font-size: 20px;
  text-align: center;
  margin-top: 8px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body .galeriaFoto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  width: 80%;
  margin: auto;
  grid-gap: 10px;
  padding: 5px 0;
  overflow: hidden;
}
body .galeriaFoto a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6PX rgba(0, 0, 0, 0.5);
}
body .galeriaFoto a img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.8s;
}
body .galeriaFoto a:hover img {
  transform: rotate(10deg) scale(1.5);
}
body .lightBox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
body .lightBox img {
  position: relative;
  width: 75vw;
  max-height: 85vh;
  object-fit: contain;
}
body .lightBox .close {
  font-family: "bebas neue";
  font-size: 25px;
  display: block;
  position: absolute;
  color: rgb(255, 255, 255);
  text-decoration: none;
  top: 40px;
  right: 40px;
  background: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
body .lightBox .next {
  display: block;
  background: black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
}
body .lightBox:target {
  transform: scale(1);
}
body .galeriaVideo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  width: 80%;
  height: 200px;
  margin: auto;
  grid-gap: 10px;
  padding: 5px 0;
  overflow: hidden;
}
body .galeriaVideo a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 6PX rgba(0, 0, 0, 0.5);
}
body .galeriaVideo a video {
  width: 100%;
  vertical-align: top;
  height: 200px;
  object-fit: cover;
  transition: transform 0.8s;
}
body .galeriaVideo a:hover video {
  transform: rotate(10deg) scale(1.5);
}
body .lightBoxVideo {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
body .lightBoxVideo video {
  width: 90vw;
  max-height: 70vh;
  object-fit: contain;
}
body .lightBoxVideo .close {
  font-family: "bebas neue";
  font-size: 25px;
  display: block;
  position: absolute;
  color: rgb(255, 255, 255);
  text-decoration: none;
  top: 40px;
  right: 40px;
  background: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
body .lightBoxVideo .next {
  display: block;
  background: black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
}
body .lightBoxVideo:target {
  transform: scale(1);
}
@media (min-width: 720px) {
  body .galeriaH1 {
    font-family: "bebas neue";
    font-size: 80px;
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

body .lineaCont {
  background: goldenrod;
  height: 4px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-top: 5px;
  padding-top: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body .contact {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .contact .formCont {
  padding: 50px 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 340px;
  border-radius: 15px;
}
body .contact .formCont .grupoEntrada {
  display: flex;
  flex-direction: column;
  text-align: left;
}
body .contact .formCont .grupoEntrada label {
  color: black;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}
body .contact .formCont .grupoEntrada input, body .contact .formCont .grupoEntrada textarea {
  padding: 2px 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(214, 213, 213);
  border: 2px solid #f0faf1;
  outline: none;
  color: black;
}
body .contact .formCont .grupoEntrada input::placeholder, body .contact .formCont .grupoEntrada textarea::placeholder {
  color: rgb(156, 160, 160);
  font-size: 10px;
}
body .contact .formCont .grupoEntrada .formTxt {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  text-align: center;
}
body .contact .formCont .grupoEntrada .formTxt a {
  color: goldenrod;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
}
body .contact .formCont .grupoEntrada .boton {
  font-family: "bebas neue";
  font-size: 20px;
  color: whitesmoke;
  background-color: black;
  box-shadow: 2px 2px 10ps rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
body .contact .formCont .grupoEntrada .boton:hover {
  color: goldenrod;
}
body .contact .formCont .h2Cont {
  color: black;
  text-shadow: 1px 1px 5px rgba(248, 247, 247, 0.5);
  font-family: "bebas neue";
  font-size: 40px;
}

body .plantelH1 {
  font-family: "bebas neue";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
body .plantelH2 {
  font-family: "bebas neue";
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
body .lineaPlantel {
  background: black;
  height: 3px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .lineaPlantel2 {
  background: black;
  height: 2px;
  width: 80%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .plantelFoto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 80%;
  margin: auto;
  grid-gap: 3px;
  padding: 3px 0;
  overflow: hidden;
}
body .plantelFoto a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10PX rgba(0, 0, 0, 0.5);
}
body .plantelFoto a img {
  width: 100%;
  vertical-align: top;
  height: 200px;
  object-fit: cover;
  transition: transform 0.8s;
}
body .plantelFoto a .nombre {
  font-size: 12px;
  font-family: "bebas neue";
  color: goldenrod;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
body .plantelFoto a:hover img {
  transform: rotate(10deg) scale(1.5);
  filter: grayscale(75%);
}
body .lineaDivisoria {
  background: goldenrod;
  height: 20px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .lineaDivisoriaF {
  background: rgb(248, 180, 208);
  height: 20px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .plantelH1R {
  font-family: "bebas neue";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(248, 247, 247, 0.5);
}
body .plantelH2R {
  font-family: "bebas neue";
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
body .lineaPlantelR {
  background: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .lineaPlantel2R {
  background: goldenrod;
  height: 2px;
  width: 80%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .plantelFotoR {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 80%;
  margin: auto;
  grid-gap: 3px;
  padding: 3px 0;
  overflow: hidden;
}
body .plantelFotoR a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10PX rgba(0, 0, 0, 0.5);
}
body .plantelFotoR a img {
  width: 100%;
  vertical-align: top;
  height: 200px;
  object-fit: cover;
  transition: transform 0.8s;
}
body .plantelFotoR a .nombre {
  font-size: 12px;
  font-family: "bebas neue";
  color: goldenrod;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
body .plantelFotoR a:hover img {
  transform: rotate(10deg) scale(1.5);
  filter: grayscale(75%);
}
body .plantelH1F {
  font-family: "bebas neue";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 10px rgba(248, 247, 247, 0.5);
}
body .plantelH2F {
  font-family: "bebas neue";
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  background-color: black;
  color: rgb(248, 180, 208);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
body .lineaPlantelF {
  background: rgb(255, 255, 255);
  height: 3px;
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .lineaPlantel2F {
  background: rgb(248, 180, 208);
  height: 2px;
  width: 80%;
  display: block;
  align-items: center;
  margin: auto;
  margin-block-end: 2px;
}
body .plantelFotoF {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  width: 80%;
  margin: auto;
  grid-gap: 3px;
  padding: 3px 0;
  overflow: hidden;
}
body .plantelFotoF a {
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 10PX rgba(0, 0, 0, 0.5);
}
body .plantelFotoF a img {
  width: 100%;
  vertical-align: top;
  height: 200px;
  object-fit: cover;
  transition: transform 0.8s;
}
body .plantelFotoF a:hover img {
  transform: rotate(10deg) scale(1.5);
  filter: grayscale(75%);
}
body .lightBox {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
}
body .lightBox img {
  position: relative;
  width: 75vw;
  max-height: 85vh;
  object-fit: contain;
}
body .lightBox .close {
  font-family: "bebas neue";
  font-size: 25px;
  display: block;
  position: absolute;
  color: rgb(255, 255, 255);
  text-decoration: none;
  top: 40px;
  right: 40px;
  background: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
body .lightBox .next {
  display: block;
  background: black;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  color: white;
}
body .lightBox .nombre {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
body .lightBox .nomyAp {
  font-family: "bebas neue";
  font-size: 25px;
  color: goldenrod;
  text-decoration: overline underline;
  text-shadow: ppx 2px 10px rgba(0, 0, 0, 0.5);
}
body .lightBox:target {
  transform: scale(1);
}
@media (min-width: 720px) {
  body .plantelH1 {
    font-family: "bebas neue";
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body .plantelH2 {
    font-family: "bebas neue";
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body .plantelFoto {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  body .plantelFoto a img {
    display: flex;
    width: 100px;
    height: 300px;
    transition: transform 0.8s;
  }
  body .plantelFoto a .nombre {
    font-size: 15px;
    font-family: "bebas neue";
    color: goldenrod;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-align: center;
  }
  body .plantelH1R {
    font-family: "bebas neue";
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
  }
  body .plantelH2R {
    font-family: "bebas neue";
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body .plantelFotoR {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  body .plantelFotoR a img {
    display: flex;
    width: 100px;
    height: 300px;
    transition: transform 0.8s;
  }
  body .plantelFotoR a .nombre {
    font-size: 15px;
    font-family: "bebas neue";
    color: goldenrod;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-align: center;
  }
  body .plantelH1F {
    font-family: "bebas neue";
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: white;
  }
  body .plantelH2F {
    font-family: "bebas neue";
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: rgb(248, 180, 208);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  body .plantelFotoF {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
  }
  body .plantelFotoF a img {
    display: flex;
    width: 100px;
    height: 300px;
    transition: transform 0.8s;
  }
  body .plantelFotoF a .nombre {
    font-size: 15px;
    font-family: "bebas neue";
    color: rgb(248, 180, 208);
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 2px 2px 10px rgb(0, 0, 0);
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
